body {
  background-color: #0e1117;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden; /* Remove qualquer barra de rolagem */
}

.home-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%; /* Garante que ocupe toda a altura */
  width: 100%; /* Garante que ocupe toda a largura */
  box-sizing: border-box; /* Inclui padding e border no tamanho total */
}

.home-logo img {
  width: 110px;
  height: 110px;
  border-radius: 20px;
  object-fit: contain;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  margin-bottom: -25px; /* Sobe o logo em relação ao formulário */
  z-index: 1;
  background-color: white;
  padding: 8px;
}

.home-input-label {
  display: block;
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-align: left;
}

.home-form {
  background-color: #151922;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 0 60px rgba(0, 0, 0, 0.6);
  width: 100%;
  max-width: 500px;
  box-sizing: border-box;
  position: relative;
  top: -10px;
  text-align: center;
}

.home-form p {
  color: #ffffff;
  font-size: 1rem;
  margin-bottom: 0.9rem;
}

.home-input {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #1e2430;
  color: white;
  font-size: 1rem;
}

.home-input::placeholder {
  color: #888888;
}

.home-btn-login {
  width: 100%;
  background-color: #245ad3;
  border-radius: 8px;
  font-size: 0.95rem;
  font-weight: bold;
  padding: 0.75rem;
  color: #ffffff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-btn-login:hover {
  background-color: #1d47a8;
}

.home-forgot-password {
  margin-top: 2rem; /* Espaçamento acima do link */
  margin-bottom: 2rem; /* Espaçamento abaixo do link */
  text-align: right; /* Alinha o link à direita */
}

.home-forgot-password a {
  color: #007bff;
  text-decoration: none;
  font-size: 0.9rem;
}

.home-forgot-password a:hover {
  text-decoration: underline;
}

.home-error-message {
  color: #ff4d4d;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.home-container-register-text {
  margin-top: 1rem;
}

.home-register-text {
  color: #ffffff;
  font-size: 0.9rem;
}

.home-register-link {
  background: none;
  border: none;
  color: #007bff;
  cursor: pointer;
  text-decoration: underline;
  font-size: 0.9rem;
}

/* Torna o ícone do calendário branco nos navegadores baseados em Webkit (Chrome, Edge, Safari) */
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

/* Para Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  filter: invert(1);
}
